/*****************************
一般情况下以#开头的标记，如 QPushButton#btnClose 也可以直接用 #btnClose，效果一样。


九宫格四个参数属性为： qproperty-scaleLeft   qproperty-scaleRight qproperty-scaleTop qproperty-scaleBottom
图为：                         qproperty-background

主窗口的id为 mainWindow


******************************/
/*
#mainWindow{
	background-origin:padding;
	qproperty-background:url(%currentPath%/style/background.png);
	qproperty-scaleLeft:82;
	qproperty-scaleRight:30;
	qproperty-scaleTop:145;
	qproperty-scaleBottom:30;
}
*/

#Net_Setting,#About_linux {
     padding-top:1px;
} 

#mainWindow #icon{
	border:none;
	border-image:url(%currentPath%/style/iF.Ico.TitleBar.png);/* icon.ico); */
	height:16px;
	width:16px;
	margin:2px;
}

/*  设置 聊天窗口 << 所有 >> 按钮图片 设计好后可修改 */
/*
#ChatWindow QToolButton, #ChatWindow QPushButton{
    border-image: url(%currentPath%/style/bt-normal.png);
}
#ChatWindow QToolButton:hover, #ChatWindow QPushButton:hover{
	border-image: url(%currentPath%/style/bt-focus.png);
}
#ChatWindow QToolButton:pressed, #ChatWindow QPushButton:pressed{
	border-image: url(%currentPath%/style/bt-press.png);
}
*/
QToolButton, QPushButton{
/*    border-image: url(%currentPath%/style/iR.Btn.normal.png); */
 /* border:none; */
}
QToolButton:hover,QPushButton:hover{
/*	border-image: url(%currentPath%/style/iR.Btn.hover.png); */
}
QToolButton:pressed,QPushButton:pressed{
/*	border-image: url(%currentPath%/style/iR.Btn.PressDown.png); */
}

/* 设置改变发送模式按钮 */
#ChatWindow #btnSwitchSendMode{
	border-image:url(%currentPath%/style/sendToPC-normal.png);
}
#ChatWindow #btnSwitchSendMode:hover{
	border-image:url(%currentPath%/style/sendToPC-hover.png)  ;
}
#ChatWindow #btnSwitchSendMode:pressed{
	border-image:url(%currentPath%/style/sendToPC-pressed.png) ;
}
#ChatWindow #btnSwitchSendMode:checked{
	border-image:url(%currentPath%/style/sendToMobile-normal.png) ;
}
#ChatWindow #btnSwitchSendMode:checked:hover{
	border-image:url(%currentPath%/style/sendToMobile-hover.png) ;
}
#ChatWindow #btnSwitchSendMode:checked:pressed{
	border-image:url(%currentPath%/style/sendToMobile-pressed.png) ;
}


/* 设置聊天窗口历史记录按钮 */
#ChatWindow #btnHistory{
	border-image:url(%currentPath%/style/history.png);
}

/* 设置聊天窗口振动按钮 */
#ChatWindow #btnNudge{
	border-image:url(%currentPath%/style/nudge.png);
}

/* 设置聊天窗口发送消息按钮 */
#ChatWindow #btnSend{
	border-image:url(%currentPath%/style/sendmsg.png);
}


/* 设置聊天窗口选择表情按钮 */
#ChatWindow #btnFace{
	border-image:url(%currentPath%/style/tool_face.png);
}


/*  设置所有窗口的缺省背景(目前只支持主窗口，登陆窗口及聊天窗口) ，如第一个规则设定了聊天窗口的背景。 */
fxgui--FxWidget{
	background-origin:padding;
	qproperty-background:url(%currentPath%/style/iF.Bg.MainPanel.png); 
	qproperty-scaleLeft:135;
	qproperty-scaleRight:135;
	qproperty-scaleTop:251;
	qproperty-scaleBottom:51;
	width:254px;
	height:548px;
}

#LoginWindow{
	width:275px;
	height:519px;
}
/* 
聊天界面背景设置 
若要独立设置主窗口背景可将 ChatWindow换为 mainWindow
登陆窗口为 loginWindow

#ChatWindow{
	qproperty-background:url(%currentPath%/style/chat.png);
	qproperty-scaleLeft:82;
	qproperty-scaleRight:30;
	qproperty-scaleTop:142;
	qproperty-scaleBottom:30;
	
} */
/*  去掉好友列表的虚线 */
/*
QTreeView::branch:!has-children {
    border:none;
}*/

QTreeView{
	qproperty-alternatingRowColors:1;
	alternate-background-color:rgba(200,200,200,30%);
	/* background-color:rgba(23,73,63,80%); */
}
/*  好友列表树关闭时的背景图 */
QTreeView::branch:has-children:closed{
	border-image: none;
    image: url(%currentPath%/style/iF.Mk.groupFold.png);
}
/* 好友列表树打开时的背景图 */
QTreeView::branch:has-children:open{
 	border-image: none;
 	image: url(%currentPath%/style/iF.Mk.groupExpand.png);
 }
TreeView::branch{
 	border-image: none;
 	image: url(%currentPath%/style/iF.Mk.groupExpand.png);
 }

QTreeView > QTreeView::item{
	background:#ff0000;
}
/*每个好友之间的间隔*/
QTreeView::item{
	height: 19px;
}



/* 好友列表中鼠标经过时的背景渐变  */
QTreeView::item:hover {
   background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #e7effd, stop: 1 #cbdaf1);
   border: 1px solid #bfcde4;
}
/* 好友列表被选中元素 有焦点时 背景渐变 */
QTreeView::item:selected:active{
   background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6ea1f1, stop: 1 #567dbc);
}
/* 好友列表被选中元素 无焦点时 背景渐变 */
QTreeView::item:selected:!active {
   background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6b9be8, stop: 1 #577fbf);
}


/* 输入框背景透明 */
QLineEdit{
	background-color:rgba(255,255,255,30%); 
	border:1px solid #999999;
}
/* 输入框有鼠标经过时背景色变化 */
QLineEdit:hover{
	border:1px solid #333333;
}
/* 输入框有焦点时(可接收输入时) 背景色，这里用了QT的pallet，也可以设置确定的颜色，用rgb 或rgba都可以 */
QLineEdit::focus{
	border:1px solid #333333;
	background-color:rgba(255,255,255,100%);
}

/* 心情短语 非编辑状态 鼠标经过时背景，这里原代码还有个BUG，主窗口RESIZE后要点中心情短语的文字才可以进入编辑状态 */
#nickname:hover,#impression:hover{
	border:1px solid #999999;
	/* border-image:url(%currentPath%/style/bt-normal.png) 4 4 4 4; */
}
#nickname:focus,#impression:focus{
	border:1px solid #333333;
}


/* 添加好友按钮 */
#btnAddFriend{
/*	border:1px solid #cccccc; */
	border:none;
	qproperty-icon:url(%currentPath%/style/ad.png);
	padding:0;
	margin:0;
	/*border-image: url(%currentPath%/style/ad.png); */
}
#btnAddFriend:hover{
	border:1px solid #999999;
}
/* #btnAddFriend:hover{
	border:none;
	background-color:pallet(button);
} */


/* 搜索栏 */
#lineSearch{
	background-color:rgba(255,255,255,100%); 
	border:1px solid #cccccc;
}
#lineSearch:hover{
	background-color:rgba(255,255,255,100%); 
	border:1px solid #999999;
}


/* portrait 头像 */
/* 备注：往后版本如果下载用户定义的头像，则此属性的CSS将不提供修改或背景默认指向指定路径 */
#portrait{
	border-image:url(%currentPath%/style/user-face.png) 0 0 0 0; /*这个是头像的边框，注意，边框的显示要求头像周围是透明的 */
	background-repeat:repeat-none;
/*	background-image:url(%currentPath%/style/Bomb.jpg); */
	background-position: center center;
	width:66;
	height:66;
}
/* 主窗口标题，这个没多大作用 */
fxgui--FxWidget{
	qproperty-windowTitle:"LibFetion";
}
fxgui--FxWidget QLabel#title{
	margin-top:2px;
}
/* 当前窗口有焦点时，标题的样式 */
fxgui--FxWidget QLabel#title:active{
	color:#666666;
}
fxgui--FxWidget QLabel#title:!active{
	color:#999999;
}

fxgui--FxWidgetTitleBar QPushButton{
	width:15px;
	height:15px;
	margin:0;
	padding:0;
}



QPushButton{
	border:none;
}

/* 所有窗口的最小化，关闭按钮的三个状态图片 */
QPushButton#btnMinimize{
    border-image: url(%currentPath%/style/iF.Btn.Min.png);
}
QPushButton#btnMinimize:hover{
	border-image: url(%currentPath%/style/iF.Btn.MinH+P.png);
}
QPushButton#btnMinimize:pressed{
	border-image: url(%currentPath%/style/iF.Btn.Min.png);
}
QPushButton#btnClose{
   	border-image: url(%currentPath%/style/iF.Btn.Close.png);
}
QPushButton#btnClose:hover{
	border-image: url(%currentPath%/style/iF.Btn.CloseH+P.png);
}
QPushButton#btnClose:pressed{
	border-image: url(%currentPath%/style/iF.Btn.Close.png);
}


/* 主窗口底部“MENU”按钮的三个状态图片 */
QToolButton#btnMenu{
	border:none;
	qproperty-shortcut:"CTRL+A";  /* 设置快捷键(需在主窗口为当前窗口时才有效) */
    border-image: url(%currentPath%/style/iR.Btn.normal.png);
}
QToolButton#btnMenu:hover{
	border-image: url(%currentPath%/style/iR.Btn.hover.png);
}
QToolButton#btnMenu:pressed{
	border-image: url(%currentPath%/style/iR.Btn.PressDown.png);
}

/* 主窗口“给自已发短信”按钮的三个状态图片 */
QToolButton#btnSendSelf{
	border:none;
	qproperty-icon:url(%currentPath%/style/iR.sms.png);
    /* border-image: url(%currentPath%/style/bt-normal.png); */
}
QToolButton#btnSendSelf:hover{
	border:1px solid #999999;
	background-color:pallet(button);
}
/*
QToolButton#btnSendSelf:pressed{
	border:none;
	border-image: url(%currentPath%/style/bt-press.png);
}
*/

/* 主窗口底部“设置”按钮的三个状态图片 */
QToolButton#btnSettings{
	border:none;
	qproperty-icon:url(%currentPath%/style/iR.setting.png);
	/* border-image: url(%currentPath%/style/iR.Btn.normal.png); */
}

QToolButton#btnSettings:hover{
	border:1px solid #999999;
	/* border-image: url(%currentPath%/style/iR.Btn.hover.png); */
}

QToolButton#btnSettings:pressed{
	border:none;
	border-image: url(%currentPath%/style/iR.Btn.PressDown.png);
}

#facesPopup{ 
	background-image:url(%currentPath%/style/input_face.gif);
	background-repeat:none;
	/* border:none; */
}
#btnSkin{
	qproperty-icon:url(%currentPath%/style/ap.png) 2 2 2 2;
}
#btnSkin:hover{
	border:1px solid #999999;
}
#icon,#ChatWindow #icon{
	border:none;
}
 QMenu{
   background: rgba(255, 255, 255, 90%);
 }

 QMenu::item {
     padding: 2px 25px 2px 20px;
     border: 1px solid transparent; /* reserve space for selection border */
 }

 QMenu::item:selected {
     background: #316ac5; /* blue */ 
}
	 

	 
/* 以下可忽略 */
 QMenu::icon:checked { /* appearance of a 'checked' icon */
     background: gray;
     border: 1px inset gray;
     position: absolute;
     top: 1px;
     right: 1px;
     bottom: 1px;
     left: 1px;
 }

 QMenu::separator {
     height: 2px;
     background: lightblue;
     margin-left: 10px;
     margin-right: 5px;
 }

 QMenu::indicator {
     width: 13px;
     height: 13px;
 }

 /* non-exclusive indicator = check box style indicator (see QActionGroup::setExclusive) */
 QMenu::indicator:non-exclusive:unchecked {
     image: url(:/images/checkbox_unchecked.png);
 }

 QMenu::indicator:non-exclusive:unchecked:selected {
     image: url(:/images/checkbox_unchecked_hover.png);
 }

 QMenu::indicator:non-exclusive:checked {
     image: url(:/images/checkbox_checked.png);
 }

 QMenu::indicator:non-exclusive:checked:selected {
     image: url(:/images/checkbox_checked_hover.png);
 }

 /* exclusive indicator = radio button style indicator (see QActionGroup::setExclusive) */
 QMenu::indicator:exclusive:unchecked {
     image: url(:/images/radiobutton_unchecked.png);
 }

 QMenu::indicator:exclusive:unchecked:selected {
     image: url(:/images/radiobutton_unchecked_hover.png);
 }

 QMenu::indicator:exclusive:checked {
     image: url(:/images/radiobutton_checked.png);
 }

 QMenu::indicator:exclusive:checked:selected {
     image: url(:/images/radiobutton_checked_hover.png);
 }
#ChatWindow #btnSwitchSendMode{text-indent:-999px}

FxMainWindow{
	margin-top:16px;
}
FxWidgetTitlebar{
	padding-top:5px;
}
