Package: LinuxFetion
Version: 1.0.0a2
Architecture: i386
Maintainer: DDD <dedodong@163.com>
Installed-Size: 1588 
Depends: libc6 (>= 2.3.6-6), libgcc1 (>= 1:4.1.1-12), libstdc++6 (>= 4.1.1-12), libqt4-core (>= 4.3.2), libqt4-gui (>= 4.3.2),libx11-6, libcurl4-openssl-dev
Section: kde
Priority: optional
Description: Linux Fetion a KDE IM client, Using CHINA MOBILE's Fetion Protocol.
 .
 * HomePage: http://www.libfetion.cn 
 .
 * Using libfetion library, you can develop the third fetion client applictions on LINUX, MacOSX, Windows, ECOS, uclinux Operating Systems.
